<% provide( :title, "Home") %>
<h1>Home Security Reporter 2017</h1>


<div class="center jumbotron">
<p>Welcome to Home Security Reporter. Your one stop solution for security and monitoring</p>
</div>
